<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Poule UP - Festival</title>
  <!-- Description-->
  <meta name="description" content="Poule UP - Festival">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="theme/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="theme/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="theme/img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="theme/css/bootstrap-custom.css">
  <link rel="stylesheet" href="theme/css/ionicons.min.css">
  <link rel="stylesheet" href="theme/css/tiny-slider.css">
  <link rel="stylesheet" href="theme/css/lity.min.css">
  <link rel="stylesheet" href="theme/css/simplebar.min.css">
  <link rel="stylesheet" href="theme/css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="theme/css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="theme/css/colors/main-pink.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="theme/css/custom.css">
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="theme/img/img-pouleup-logo-text.png" alt="Logo"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#apropos">À propos</a></li>
        <li class="nav-item"><a class="nav-link" href="#festival">Le festival</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Nos évènements</a></li>
        <li class="nav-item"><a class="nav-link" href="#photos">Album photos</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg video-variant" id="home" style="background-image:url(theme/img/background-poule-up.png)">
    <div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/pbbRtGXMiIo',containment:'#home',autoPlay:true, mute:true, showControls:false, stopMovieOnBlur:false, showYTLogo: false}"></div>
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">POULE <span>UP</span></h1>
          <h4 class="cd-headline clip home-headline">Nous sommes <span class="cd-words-wrapper single-headline"><b class="is-visible">une association</b><b>un festival</b><b>des évènements</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.instagram.com/_pouleup_/"><i class="icon ion-logo-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/POULEUPFESTIVAL"><i class="icon ion-logo-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/company/association-poule-up/"><i class="icon ion-logo-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- À propos lightbox-->
  <div class="lightbox-wrapper" id="apropos" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">À propos</p>
                  <h2 class="section-title">Qui sommes-nous</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="theme/img/img-pouleup-logo.png" alt="Logo Association POULE UP"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Notre histoire</h2>
                    <h6 class="content-title">Association POULE UP</h6>
                    <div class="content-description">
                      <p>Fondée en 2021 à Nantes, l’association POULE UP est un collectif dynamique d’une quinzaine de bénévoles animé par la diffusion d’une culture de la fête inclusive et chaleureuse. Après avoir débuté par l’organisation d’un festival annuel, nous organisons aujourd’hui des évènements musicaux et artistiques tout au long de l’année.</p>
                      <p>Avec la pandémie et l’annulation des principaux évènements festifs, nous avons souhaité créer notre propre festival. Ainsi est né en 2021 le POULE UP FESTIVAL, un succès qui nous motive à pérenniser l’aventure. En 2022 et 2023, après deux éditions en Normandie rassemblant jusqu’à deux cents participants, nous développons davantage l’activité de notre collectif en organisant des évènements ponctuels sur toute l’année en plus de notre festival annuel.</p>
                      <p>Le POULE UP FESTIVAL revient en 2025 après une année d’absence, sous un nouveau lieu et une capacité d’accueil plus importante. </p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Association POULE UP</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:pouleup@pouleup.org">pouleup@pouleup.org</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>Intemporel</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Pays-de-la-Loire, FR</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center">
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.instagram.com/_pouleup_/"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/POULEUPFESTIVAL"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/association-poule-up/"><i class="icon ion-logo-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Festival lightbox-->
  <div class="lightbox-wrapper" id="festival" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">POULE UP FESTIVAL #4</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="theme/img/AffichePouleUP2025.jpg" alt="Logo Festival POULE UP 2025"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Le festival</h2>
                    <h6 class="content-title">POULE UP FESTIVAL #4</h6>
                    <div class="content-description">
                      <p>
𝑳𝒆 𝑷𝑶𝑼𝑳𝑬 𝑼𝑷 𝒂 𝒆𝒏𝒕𝒂𝒎𝒆́ 𝒖𝒏 𝒈𝒓𝒂𝒏𝒅 𝒗𝒐𝒚𝒂𝒈𝒆 : 𝒊𝒍 𝒂 𝒍𝒂𝒊𝒔𝒔𝒆́ 𝒍𝒂 𝒄𝒂𝒎𝒑𝒂𝒈𝒏𝒆 𝒏𝒐𝒓𝒎𝒂𝒏𝒅𝒆 𝒅𝒂𝒏𝒔 𝒅𝒆 𝒃𝒆𝒂𝒖𝒙 𝒃𝒐𝒖𝒓𝒈𝒆𝒐𝒏𝒔 𝒆𝒕 𝒊𝒍 𝒔𝒆 𝒓𝒂𝒑𝒑𝒓𝒐𝒄𝒉𝒆 𝒅𝒐𝒖𝒄𝒆𝒎𝒆𝒏𝒕...
𝑳𝒂 𝒓𝒖𝒎𝒆𝒖𝒓 𝒄𝒐𝒖𝒓𝒕, 𝒆𝒍𝒍𝒆 𝒔𝒆 𝒓𝒆́𝒑𝒂𝒏𝒅... 𝒐𝒏 𝒅𝒊𝒕 𝒒𝒖𝒆 𝒍’𝒆́𝒄𝒍𝒐𝒔𝒊𝒐𝒏 𝒆𝒔𝒕 𝒊𝒎𝒎𝒊𝒏𝒆𝒏𝒕𝒆, 𝒗𝒆𝒓𝒔 𝒅𝒆𝒔 𝒋𝒂𝒓𝒅𝒊𝒏𝒔 𝒊𝒏𝒇𝒊𝒏𝒊𝒔 𝒆𝒕 𝒑𝒐𝒖𝒓𝒕𝒂𝒏𝒕 𝒕𝒐𝒖𝒕 𝒑𝒓𝒐𝒄𝒉𝒆𝒔 🌓
𝑼𝒏 𝒏𝒐𝒖𝒗𝒆𝒍 𝒖𝒏𝒊𝒗𝒆𝒓𝒔 𝒆𝒏 𝒃𝒐𝒖𝒒𝒖𝒆𝒕 𝒅𝒆 𝒄𝒐𝒖𝒍𝒆𝒖𝒓𝒔 𝒆𝒏𝒄𝒐𝒓𝒆 𝒑𝒍𝒖𝒔 𝒗𝒊𝒗𝒆𝒔, 𝒖𝒏 𝒇𝒆𝒔𝒕𝒊𝒗𝒂𝒍 𝒓𝒆𝒏𝒐𝒖𝒗𝒆𝒍𝒆́ 𝒆𝒏𝒕𝒓𝒆 𝒊𝒏𝒕𝒊𝒎𝒊𝒔𝒎𝒆 𝒆𝒕 𝒈𝒓𝒂𝒏𝒅𝒆𝒖𝒓
𝑶𝒏 𝒗𝒐𝒖𝒔 𝒊𝒏𝒗𝒊𝒕𝒆 𝒂̀ 𝒗𝒐𝒈𝒖𝒆𝒓 𝒂𝒗𝒆𝒄 𝒏𝒐𝒖𝒔 𝒗𝒆𝒓𝒔 𝒖𝒏𝒆 𝒏𝒐𝒖𝒗𝒆𝒍𝒍𝒆 𝒑𝒓𝒂𝒊𝒓𝒊𝒆 𝒄𝒆́𝒍𝒆𝒔𝒕𝒆, 𝒕𝒐𝒖𝒕𝒆 𝒑𝒓𝒐𝒄𝒉𝒆 𝒅𝒆 𝑵𝒂𝒏𝒕𝒆𝒔, 𝒇𝒍𝒆𝒖𝒓𝒊𝒆 𝒍𝒂 𝒋𝒐𝒖𝒓𝒏𝒆́𝒆 𝒆𝒕 𝒊𝒍𝒍𝒖𝒎𝒊𝒏𝒆́𝒆 𝒍𝒂 𝒏𝒖𝒊𝒕 🌻✨
<br/>
𝐐𝐮𝐚𝐧𝐝 ?
<br/>
A l’entame de l’été une fois le solstice passé : le 27 et 28 JUIN 2025
<br/>
𝐎𝐮̀ ?
Nous prendrons racine en loire-atlantique cette années
<br/>
𝐏𝐫𝐞̂𝐭.𝐞.𝐬 𝐚̀ 𝐞𝐦𝐛𝐚𝐫𝐪𝐮𝐞𝐫 𝐚𝐯𝐞𝐜 𝐧𝐨𝐮𝐬 ?
Évènement privé sur invitation
<br/>
[ 𝐋𝐢𝐧𝐞𝐮𝐩 𝐚̀ 𝐯𝐞𝐧𝐢𝐫 ]
<br/>
𝐈𝐧𝐟𝐨𝐬 𝐩𝐫𝐚𝐭𝐢𝐪𝐮𝐞𝐬
<br/>
🍻 Bar et restauration sur place
<br/>
🏕 Camping et parking gratuit
<br/>
Accessibilité depuis Nantes :
<br/>
🚘 Voiture : privilégiez le covoiturage
<br/>
🚲 Vélo
<br/>
🚌 Transports en commun
<br/>
🚅 Train : gare SNCF de Nantes
<br/>
𝐋𝐞 𝑷𝑶𝑼𝑳𝑬 𝑼𝑷 𝐟𝐞𝐬𝐭𝐢𝐯𝐚𝐥 𝐬𝐞 𝐯𝐞𝐮𝐭 𝐮𝐧 𝐞𝐬𝐩𝐚𝐜𝐞 𝐬𝐚𝐟𝐞 𝐩𝐨𝐮𝐫 𝐭𝐨𝐮𝐬𝐭𝐞𝐬.
<br/>
Nous serons particulièrement vigilants à la prévention et la sécurité sur site pour que chacun puisse vivre l'événement sereinement, dans un environnement respectueux et inclusif. Le respect de chacun et essentiel et nous nous réservons le droit de sanctionner tout comportement discriminatoire ou perturbateur.</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Association POULE UP</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:pouleup@pouleup.org">pouleup@pouleup.org</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>Intemporel</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Pays-de-la-Loire, FR</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center">
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.instagram.com/_pouleup_/"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/POULEUPFESTIVAL"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/association-poule-up/"><i class="icon ion-logo-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Video section-->
            <div class="video-section single-section">
              <div class="row align-items-center">
                <div class="col-12 col-lg-6 content-part">
                  <h3 class="video-title">Revenons en 2023, à la dernière édition du POULE UP FESTIVAL</h3>
                  <p class="video-description">On ne va pas se mentir, on aime quand même bien la techno, le « boum boum » comme dirait notre mère. L’édition 2023 était rythmée en mode techno parade ! C’était le 30 JUIN 2023 sur des terres normandes ! Revivez l’édition au travers de l’aftermovie !</p>
                </div>
                <div class="col-12 col-lg-6 video-part"><a class="media-lightbox" href="https://www.youtube.com/watch?v=pbbRtGXMiIo" data-lightbox>
                    <div class="embed-responsive embed-responsive-16by9">
                      <div class="embed-responsive-item element-cover-bg"><span class="play-wrapper"><i class="icon ion-md-play"></i></span></div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Nos meilleurs souvenirs festifs</p>
                  <h2 class="section-title">Nos évènements</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                    <li class="list-inline-item" data-filter=".brand">Brand</li>
                    <li class="list-inline-item" data-filter=".design">Design</li>
                    <li class="list-inline-item" data-filter=".photos">Photos</li>
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="theme/img/item-1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2025_Affiche.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #4</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="theme/img/item-2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2024_Lovecraft_02.webp">
                      <div class="item-content">
                        <h6 class="content-title">Évènement Lovecraf</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="theme/img/item-3.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2024_Lovecraft_01.webp">
                      <div class="item-content">
                        <h6 class="content-title">Évènement Lovecraft</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-4.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2024_LaChaumiere.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #4</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2024_Lab.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #4</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2023_Merci.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #3 Merci !</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2023_Decadanse.webp">
                      <div class="item-content">
                        <h6 class="content-title">Évènement Décadanse</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2023_Affiche.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #3</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2022_Affiche.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #2</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="theme/img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="theme/img/PUP2021_Affiche.webp">
                      <div class="item-content">
                        <h6 class="content-title">POULE UP Festival #1</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Photos lightbox-->
  <div class="lightbox-wrapper" id="photos" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my latest blog posts</p>
                  <h2 class="section-title">My Blog</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="row justify-content-center">
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="theme/img/post-1.jpg" alt="Blog post"><span class="content-date">11 Dec, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Top tools for Photographers</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="theme/img/post-2.jpg" alt="Blog post"><span class="content-date">12 Aug, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Take a tour of my office</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="theme/img/post-3.jpg" alt="Blog post"><span class="content-date">4 Feb, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How i became a Web Designer</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div><!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="theme/img/post-4.jpg" alt="Blog post"><span class="content-date">11 Dec, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How to improve work performance</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="theme/img/post-5.jpg" alt="Blog post"><span class="content-date">15 Nov, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How to work from home</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="theme/img/post-6.jpg" alt="Blog post"><span class="content-date">8 Aug, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How to enjoy your business trip</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Feel free to contact me anytimes</p>
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="php/contact.php">
                    <h4 class="content-title">Message Me</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">Contact Info</h4>
                    <p class="info-description">Always available for freelance work if the right project comes along, Feel free to contact me!</p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">POULE UP</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">99 rue de la convention, 44100 NANTES</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-call"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Call Me</h6><span class="info-value"><a href="tel:+33658264721">+33 6 58 26 47 21</a></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Email Me</h6><span class="info-value"><a href="mailto:pouleup@pouleup.org">pouleup@pouleup.org</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts-->
  <script src="theme/js/jquery.min.js"></script>
  <script src="theme/js/bootstrap.bundle.min.js"></script>
  <script src="theme/js/imagesloaded.pkgd.min.js"></script>
  <script src="theme/js/isotope.pkgd.min.js"></script>
  <script src="theme/js/animatedModal.js"></script>
  <script src="theme/js/tiny-slider.js"></script>
  <script src="theme/js/lity.min.js"></script>
  <script src="theme/js/simplebar.min.js"></script>
  <script src="theme/js/jquery.mb.YTPlayer.min.js"></script>
  <script src="theme/js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="theme/js/custom.js"></script>
</body>

</html>
